<head>
  <meta charset="utf-8" />
  <title>{{ .Title }}</title>

  {{ partial "head/seo-meta.html" . }}


  <link rel="icon" href="data:;base64,iVBORw0KGgo=" />

  {{ partial "head/styles.html" . }}
  {{ partial "head/scripts.html" . }}
</head>
