{{ with resources.Get "dayjs.min.js" | minify | fingerprint }}
  <script src="{{ .RelPermalink }}" defer></script>
{{ end }}
{{ with resources.Get "locale/fr.js" | minify | fingerprint }}
  <script src="{{ .RelPermalink }}" defer></script>
{{ end }}
{{ with resources.Get "index.js" | minify | fingerprint }}
  <script src="{{ .RelPermalink }}" defer></script>
{{ end }}
