<meta name="description" content="{{ .Site.Params.Seo.Description }}" />

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ .Site.Title }}" />
<meta property="og:description" content="{{ .Site.Params.Seo.Description }}" />
<meta property="og:url" content="{{ .Site.BaseURL }}" />
