<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head/head.html" . }}
  <body>
    <aside class="no-print">
      <span aria-hidden="true">🦊</span> Vous pouvez consulter le code source de
      ce <i>curriculum vitae</i> sur
      <a
        href="https://gitlab.com/mlbiche/curriculum/"
        rel="noreferrer noopener"
        title="Voir le code source du curriculum vitae"
        >Gitlab</a
      >.
    </aside>

    <aside class="no-print">
      <span aria-hidden="true">👉</span> Vous pouvez imprimer mon
      <i>curriculum vitae</i> ou le télécharger
      <a
        href="thibaud_malbert_cv.pdf"
        title="Télécharger le curriculum vitae au format PDF"
      >
        directement au format PDF</a
      >.
    </aside>

    {{ block "main" . }}{{ end }}
  </body>
</html>
