/* Début reset minimaliste */
/* Crédits https://code.larlet.fr/css/#un-reset-minimaliste */
/* Les règles appliquées à des éléments qui ne seront pas utilisés sont retirées. */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  min-height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* Fin reset minimaliste */

:root {
  --black: #212529;
  --blue: #3185fc;
  --dark-blue: #1d2f6f;
  --grey: #6c757d;

  --column-gap: 24px;
}

html {
  font-size: 15px;
  line-height: 18px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 10rem);
  margin: 3rem 5rem;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.125rem;
  color: var(--black);
}

body > * {
  width: 100%;
  max-width: 925px;
}

aside {
  text-align: center;
  padding: 1.5rem;
  margin-bottom: 1rem;
  background-color: var(--black);
  color: white;
  box-sizing: border-box;
}

aside:last-of-type {
  margin-bottom: 3rem;
}

body h1 {
  margin: 0 0 0.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

body h3,
body h2,
body p,
body h1 .normal-text,
body h2 .normal-text,
body h3 .normal-text {
  margin: 0;
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 400;
}

body h3 {
  font-weight: 700;
}

.light-text {
  margin: 0;
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 200;
  color: var(--grey);
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.really-is-a-list,
ol.really-is-a-list {
  list-style-type: disc;
  padding-inline-start: 20px;
}

ul.really-is-a-list ::marker,
ol.really-is-a-list ::marker {
  margin-top: 2px;
  display: block;
  color: var(--grey);
}

a {
  color: currentColor;
}

header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--column-gap);
  margin-bottom: 4rem;
}

.profile {
  grid-column: 1 / 5;
}

.profile h2 {
  margin-bottom: 1.5rem;
}

address {
  font-style: normal;
}

.profile li {
  margin-bottom: 0.25rem;
}

.address-separator {
  margin-left: 8px;
  padding-left: 8px;
  border-left: 1px solid var(--grey);
}

.abstract {
  grid-column: 5 / 13;
}

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--column-gap);
}

.main-column {
  grid-column: 1 / 9;
}

.main-column section {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: var(--column-gap);
}

.main-column section:not(:last-child),
.second-column section:not(:last-child) {
  margin-bottom: 3rem;
}

.main-column h2 {
  grid-column: 3 / 6;
  border-bottom: 1px dashed var(--grey);
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

.main-column ol {
  grid-column: 1 / 9;
}

.resume-entry {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: var(--column-gap);
}

.resume-entry:not(:last-child) {
  margin-bottom: 1.5rem;
}

.resume-entry > :first-child {
  grid-column: 1 / 3;
}

.resume-entry > :last-child {
  grid-column: 3 / 9;
}

.resume-entry-description {
  margin-top: 0.5rem;
}

.second-column {
  grid-column: 10 / 13;
}

.second-column h2 {
  margin-bottom: 1rem;
}

.second-column ul li {
  margin-bottom: 0.5rem;
}
