{{ define "main" }}
  {{ partial "home/en-tete/en-tete.html" . }}


  <main>
    <div class="main-column">
      {{ partial "home/entrees.html" (dict "icone" "💼" "titre" "Expérience" "entrees" .Params.Experiences) }}
      {{ partial "home/entrees.html" (dict "icone" "🎓" "titre" "Formations" "entrees" .Params.Formations) }}
      {{ partial "home/entrees.html" (dict "icone" "🌍" "titre" "Année de césure" "entrees" .Params.Cesures) }}
    </div>

    <div class="second-column">
      <section>
        <p>
          <span aria-hidden="true">🇬🇧</span> {{ .Params.NiveauAnglais }}
        </p>
      </section>

      <section>
        <h2><span aria-hidden="true">🧑‍💻</span> J'écris du code avec</h2>
        {{ partial "home/liste.html" (dict "liste" .Params.Technologies) }}
      </section>

      <section>
        <h2><span aria-hidden="true">✨</span> J'ai une appétence pour</h2>
        {{ partial "home/liste.html" (dict "liste" .Params.Appetences) }}
      </section>
    </div>
  </main>
{{ end }}
