<section>
  <h2><span aria-hidden="true">{{ $.icone }}</span> {{ $.titre }}</h2>

  <ol>
    {{ range $entree := $.entrees }}
      <li class="resume-entry">
        <p class="light-text">
          {{ $entree.anneeDebut }}
          {{ if $entree.dateDebut }}
            <span data-date-debut="{{ $entree.dateDebut }}"></span>
          {{ else }}
            -
            {{ if $entree.anneeFin }}
              {{ $entree.anneeFin }}
            {{ else }}
              {{ $entree.duree }}
            {{ end }}
          {{ end }}
        </p>
        <div>
          <h3>
            {{ $entree.structure }}
            {{ if $entree.intitule }}
              <span class="normal-text"> - {{ $entree.intitule }}</span>
            {{ end }}
          </h3>
          <p class="light-text">
            {{ if $entree.iconePays }}
              <span aria-hidden="true">{{ $entree.iconePays }}</span>
            {{ end }}
            {{ $entree.lieu }}
          </p>
          {{ if $entree.description }}
            <p class="resume-entry-description">
              {{ partial "helpers/md-titled-links.html" (dict "contenuMarkdown" $entree.description) }}
              {{ if $entree.technologies }}
                <span class="light-text"> • {{ $entree.technologies }}</span>
              {{ end }}
            </p>
          {{ end }}
        </div>
      </li>
    {{ end }}
  </ol>
</section>
