<ul class="really-is-a-list">
  {{ range $index, $element := $.liste }}
    <li>
      {{ partial "helpers/md-titled-links.html" (dict "contenuMarkdown" $element) }}{{- if eq (add $index 1) (len $.liste) -}}
        .
      {{- else -}}
        ,
      {{ end }}
    </li>
  {{ end }}
</ul>
