<address>
  <ul>
    <li>
      <span class="address-link-icon" aria-label="Courriel">✍️</span>
      <a href="mailto:{{ .Params.Addresse.Courriel }}"
        >{{ .Params.Addresse.Courriel }}</a
      >
    </li>
    <li>
      <span class="address-link-icon" aria-hidden="true">🤝</span>
      <a href="{{ .Params.Addresse.LinkedIn }}" rel="noreferrer noopener">
        LinkedIn
      </a>
    </li>
    <li>
      <span class="address-link-icon" aria-hidden="true">🦊</span>
      <a href="{{ .Params.Addresse.GitLab }}" rel="noreferrer noopener">
        GitLab</a
      >
      <span class="address-separator" aria-hidden="true">🐙</span>
      <a href="{{ .Params.Addresse.GitLab }}" rel="noreferrer noopener">
        GitHub
      </a>
    </li>
  </ul>
</address>
