<header>
  <section class="profile">
    <h1>{{ .Site.Params.Author }}</h1>
    <h2>{{ .Params.StatutProfessionnel }}</h2>
    {{ partial "home/en-tete/addresse.html" . }}
  </section>
  <section class="abstract">
    <p>
      {{ .Params.Abstract | markdownify }}
    </p>
  </section>
</header>
